body {
    background-color: #000000;
    color: #ffffff;
}

h1 {
    
}

div {
    height: 150px;
    width: 150px;
    border-radius: 10px;
    display: inline-block;
}

#red {
    background-color: red;
}

#blue {
    background-color: blue;
}

#green {
    background-color: green;
}

#purple {
    background-color: purple;
}

#white {
    background-color: white;
}