@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
    <script src="~/Content/jquery-1.11.3.min.js"></script>
    <title>Index</title>
</head>
    <body>
        
        <h1>Welcome to JQuery Testing page.</h1>
        <div id="red"></div>
        <div id="blue"></div>
        <div id="white"></div>
        <div id="purple"></div>
        <script src="~/Scripts/JavaScript1.js"></script>
    </body>
</html>
